<script>
    /*
     * This is the plugin
     */
    (function (a) {
        a.createModal = function (b) {
            defaults = {
                title: "",
                message: "Your Message Goes Here!",
                closeButton: true,
                scrollable: false
            };
            var b = a.extend({}, defaults, b);
            var c = (b.scrollable === true) ? 'style="max-height: 420px;overflow-y: auto;"' : "";
            html = '<div class="modal fade" id="myModal">';
            html += '<div class="modal-dialog">';
            html += '<div class="modal-content">';
            html += '<div class="modal-header">';
            html += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>';
            if (b.title.length > 0) {
                html += '<h4 class="modal-title">' + b.title + "</h4>"
            }
            html += "</div>";
            html += '<div class="modal-body" ' + c + ">";
            html += b.message;
            html += "</div>";
            html += '<div class="modal-footer">';
            if (b.closeButton === true) {
                html += '<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>'
            }
            html += "</div>";
            html += "</div>";
            html += "</div>";
            html += "</div>";
            a("body").prepend(html);
            a("#myModal").modal().on("hidden.bs.modal", function () {
                a(this).remove()
            })
        }
    })(jQuery);

    /*
     * Here is how you use it
     */
    $(function () {
        $('.view-pdf').on('click', function () {
            var pdf_link = $(this).attr('href');
            //var iframe = '<div class="iframe-container"><iframe src="'+pdf_link+'"></iframe></div>'
            //var iframe = '<object data="'+pdf_link+'" type="application/pdf"><embed src="'+pdf_link+'" type="application/pdf" /></object>'        
            var iframe = '<object type="application/pdf" data="' + pdf_link +
                '" width="100%" height="500">No Support</object>'
            $.createModal({
                title: 'My Title',
                message: iframe,
                closeButton: true,
                scrollable: false
            });
            return false;
        });
    })

    toastr.options = {
        "closeButton": false,
        "escapeHtml": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "10000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    function showLoading() {
        $.blockUI({
            message: '<h5><img src="<?=$this->Url->build("/", true);?>busy.gif" /> Just a moment...</h5>',
            css: {
                'border-radius': '20px'
            }
        });
    }

    function hideLoading() {
        $.unblockUI();
    }





    function jsNumberFormat(n) {
        //var n = 100000;
        var value = n.toLocaleString(
            undefined, // leave undefined to use the browser's locale,
            // or use a string like 'en-US' to override it.
            {
                minimumFractionDigits: 0
            }
        );
        // console.log(value);
        return value
    }



    $(document).ready(function () {

        // $(".datepicker").datepicker({
        //      format: 'yyyy-mm-dd',
        // });
        // $(".dateinput").datepicker({
        //      format: 'yyyy-mm-dd',
        // });

        // // console.log("select2");
        // $('.select2').select2({
        //     placeholder: 'Select an option',
        //     theme: "classic"
        // });

        // $('.select2_multiple').select2({
        //     theme: "classic",
        //     placeholder: "select one or more options",
        //     allowClear: true,
        //     maximumSelectionLength: 7,
        // });



        // $('.lazy').Lazy();

        jQuery(document).on('change', '#limitBox', function (e) {
            var parentForm = $(this).closest("form");
            parentForm.submit();

        });

        jQuery(document).on('change', '#activeCountrySelect', function (e) {

            var parentForm = $(this).closest("form");
            parentForm.submit();

        });




    });
</script>