{% extends 'documents/backend.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}>

{% block content %}


<section id="horizontal-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Change Password</div>
		</div>
	</div>
	<div class="row">
		{% include "common/flash.html" %}
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<!-- <h4 class="card-title" id="horz-layout-basic">Project Info</h4>
	                <p class="mb-0">This is the basic horizontal form with labels on left and form controls on right in one line. Edit <code>.form-horizontal</code> class to the form tag to have horizontal form styling. To define form sections use <code>form-section</code> class with any heading tags.</p> -->
				</div>
				<div class="card-body">
					<div class="px-3">
						<form method="POST" action="{% url 'change_password' %}" class="form form-horizontal">
							{% csrf_token %}

							{% if form.errors %}
							<div class="alert alert-warning alert-dismissable" role="alert">
								<button class="close" data-dismiss="alert">
									<small><sup>x</sup></small>
								</button>
								<p>Your Form Has Errors...</p>
								{% for field in form %}
								{% if field.errors  %}
								{{ field.errors }}
								{% endif %}

								{% endfor %}

							</div>


							{% endif %}


							{{ form.as_p }}

							<input type="submit" value="Change Password" class="btn btn-secondary">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>



{% endblock %}