{% extends 'documents/backend.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}>
{% block content %}
{% comment %}
<h3>Trending Articles</h3>
<ul>
    {% for active_campaign in active_campaigns.all %}

    <li>{{ active_campaign.subject }}</li>

    {% endfor %}
</ul> {% endcomment %}

<link href="{% static 'assets/dist/css/pages/dashboard4.css' %}" rel="stylesheet">
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Dashboard </h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard </li>
            </ol>
            <a href="{% url 'document_add' %}" class="btn btn-danger d-none d-lg-block m-l-15"><i
                    class="fa fa-plus-circle"></i> Create New</a>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
{% include "common/flash.html" %}
<!-- ============================================================== -->
<!-- Info box -->
<!-- ============================================================== -->
<div class="row">

    <!-- Column -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MY DOCUMENTS</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash"></div>
                    <div class="ml-auto">
                        <h2 class="text-success"><i class="fa fa-file"></i> <span
                                class="counter">{{user_document_count}}</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>

    {% if upgrade %}
    <!-- Column -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'checkout' plan_id=1 %}" class="btn btn-block btn-lg btn-round btn-success">Upgrade Now</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if user.is_superuser %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TOTAL DOCUMENTS</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash"></div>
                    <div class="ml-auto">
                        <h2 class="text-success"><i class="fa fa-file"></i> <span
                                class="counter">{{document_count}}</span></h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TOTAL USER</h5>
                <div class="d-flex no-block align-items-center m-t-20 m-b-20">
                    <div id="sparklinedash2"></div>
                    <div class="ml-auto">
                        <h2 class="text-purple"><i class="fa fa-users"></i> <span class="counter">{{user_count}}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div id="sparkline8" class="sparkchart"></div>
        </div>
    </div>
    {% endif %}
</div>
<!-- ============================================================== -->
<!-- End Info box -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sales Chart and browser state-->
<!-- ============================================================== -->

{% endblock %}